@import "style.scss";

main{
    width: 100%;
}

body{
    margin: 0;
}

.logo{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#top_menu{
    min-height: 250px;
    background: $background-color;

    #location{
        text-align: center;
        background-color: #eaeaea;
        height: 50px;
        font-family: 'Roboto', sans-serif;
    }

    #explore{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Roboto', sans-serif;

    }

}

#how_to{
    border: 1px solid black;
    min-height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    

    h3{
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        text-align: left;
        margin-left: -9px;
    }

    p{
        border: 1px solid black;
        font-family: 'Roboto', sans-serif;
        border-radius: 25px;
        height: 50px;
        text-align: center;
    }

    .how_look{
        border: 1px solid black;
        background: $background-color;
        display:flex;
        flex-flow: row;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 5px;
        

        .how_number{

            border-radius: 50%;
            margin-left: -30px;
            padding: 0 5px 0 5px;
            background: $purple-color;
            color: white;
            font-family: 'Roboto', sans-serif;
        }

        .how_icon{

            margin: 0 15px 0 15px;
            width: 25px;
        }

        .how_text{
            font-family: 'Roboto', sans-serif;
            font-weight: bolder;
            width: 100%;
        }
    }
}

#restaurants{
    border: 1px solid black;
    padding: 10px 10px 30px 10px;
    background: #f6f6f6;

    #rest_title{
        padding: 10px 0 10px 15px;
        border: 1px solid black;
    }

    .menu_image{
        border: 1px solid black;
        height: 180px;
        object-fit: cover;
        object-position: 70%;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;     
    }
}

.description{
    display: flex;
    width: 100%;
    border: 1px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; 
    margin: 0 0 10px 0;

    .rest_desc{
        width: 70%;
        padding: 5px 0 0 10px;
        

        h3{
            margin: 0;
        }
        p{
            margin: 3px 0 5px 0;
        }
        
    }

    .heart{
        font-size: 25px;
        width: 30%;
        padding: 5px 0 25px 100px;

        i{
            &:hover {
                background: pink;
                color: hotpink;
              }
        }

    }
}
