@import "style.scss";

/*.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    margin-top: -15px;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    //backdrop-filter: blur(10px);
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .loader {
      backdrop-filter: blur(10px);
    }
  }
  
  /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
  /*@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .loader {
        background-color: white;
        opacity: 0.8;
    }
  }

  @keyframes fade {
    0% {
      transform: translateY(0%);
    }
    100% { 
      transform: translateY(110%);
      opacity: 0;
    }
  }
  .primary-circle {
    width: 150px;
    height: 150px;
    border: 4px solid #9356dc;
    border-top: 4px solid transparent;
    border-radius: 50%;
    -webkit-animation: rotate 1.5s infinite;
    animation: rotate 1.5s infinite;
  }
  .secondary-circle {
    -webkit-animation: rotate 1.5s infinite 0.1s;
    animation: rotate 1.5s infinite 0.1s;
    width: 120px;
    height: 120px;
    border: 4px solid #ff79da;
    border-top: 4px solid transparent;
    border-radius: 50%;
    position: absolute;
  }
  .tertiary-circle {
    -webkit-animation: rotate 1.5s infinite 0.2s;
    animation: rotate 1.5s infinite 0.2s;
    position: absolute;
    width: 80px;
    height: 80px;
    border: 4px solid #99e2d0;
    border-top: 4px solid transparent;
    border-radius: 50%;
  }
  @-webkit-keyframes rotate {
    from {
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    from {
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }*/
  .spinner_container{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    backdrop-filter: blur(10px);

    @keyframes fade {
      0% {
        transform: translateX(0%);
      }
      100% { 
        transform: translateX(110%);
        opacity: 0;
      }
    }
  }

// Firefox hack for background blur

  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .spinner_container {
      background-color: rgba(255, 255, 255, .9);
    }
  }

  .spinner {
    --size: 200px;
  
    width: var(--size);
    height: var(--size);
  
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid transparent;
  }
  
  .inner.one {
    left: 0;
    top: 0;
    animation: rotate-one 1s linear infinite;
    border-bottom: 5px solid $primary;
  }
  
  .inner.two {
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 5px solid $secondary;
  }
  
  .inner.three {
    right: 0;
    bottom: 0;
    animation: rotate-three 1s linear infinite;
    border-top: 5px solid $tertiary;
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
  